<template>
  <div class="container">
    <div class="row" id="form-login">
      <div class="col-md-4 offset-md-4">
        <h3> Hello </h3>
      </div>
    </div>
  </div>
</template>

<script>

  //import { store } from '../store/instroduce';
  // console.log(store)
  export default {
  //    store
  }

</script>