<template>
  <div class="wrapper">
    <!-- Header -->
    <Header />
    <!-- Content Wrapper -->
    <div class="container no-padding content">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <h1 id="title">
            Discover Your Vision Persionality
          </h1>
          <p id="description">
            Want to learn more about your vision needs? 
            <br>
            Take our lifestyle questionnaire and find your perfect lenswear solution.
          </p>
          <ul class="nav direct">
            <li class="nav-item" id="btn-qr">
              <span class="rounded">QR</span>
            </li>
            <li class="nav-item" id="btn-questionaire">
              <router-link class="nav-link" id="link-questionaire" to="/questionaire">Questionaire <fa icon="arrow-right" /></router-link>
            </li>
            <li class="nav-item" id="btn-simulations">
              <router-link class="nav-link" id="link-simulations" to="/lens-simulations">Lens Simulations <fa icon="arrow-right" /></router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '../common/components/Header'

export default {
  name: 'Home',
  components: {
    Header
  },
}
</script>

<style scoped src="@/assets/css/home.css">
</style>