<template>
  <div class="container">
    <div class="row" id="form-login">
      <div class="col-md-4 offset-md-4">
        <form @submit="makeLogin">
          <div class="form-group">
            <label for="passcode"><h1 id="lb-title">ECP Login</h1></label>
            <input type="password" v-model="passcode" class="form-control" id="edt-passcode" placeholder="Enter passcode">
          </div>
          <button type="submit" class="btn" id="btn-login">Login</button>
          <div class="row" id="form-remember">
            <div class="col-6">
              <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="cb-remember">
              <label class="form-check-label" for="cb-remember" id="lb-remember">Remember me</label>
            </div>
            </div>
            <div class="col-6">
              <router-link to="/"><label class="form-check-label" id="lb-request">Request account</label></router-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { AuthService } from '../services/auth.service'

export default {
  name: 'Login',
  setup() {
    const passcode = ref('')

    return { passcode }
  },
  methods: {
    async makeLogin (event) {
      event.preventDefault()
      if (this.passcode != '') {
        try {
          await AuthService.makeLogin(this.passcode)
          await this.$router.push('/')
        } catch (error) {
          console.log(error.message)
        }
      }
    }
  } 
}
</script>

<style scoped src="@/assets/css/login.css">
</style>