<template>
  <div class="container-fluid no-padding header">
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent" >
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link"><fa icon="language" /> {{ language }}</a>
            </li>
            <li class="nav-item">
              <router-link v-if="!isLoggedIn" class="nav-link" to="/login">ECP Login</router-link>
              <router-link v-else class="nav-link" to="/" @click="handleLogOut">Log Out</router-link>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</template>

<script>
import { ref } from 'vue'

export default {
  name: 'Header',
  setup() {
    const language = ref('Singapore, English')
    const isLoggedIn = ref(false)

    const handleLogOut = () => {
      isLoggedIn.value = false;

      return isLoggedIn
    }

    return {
      language,
      isLoggedIn,
      handleLogOut
    }
  },
}
</script>

<style scoped>
.nav-item {
  border: 0.5px solid #E5E5E5;
  border-radius: 25px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin: 16px 8px 16px 8px;
}

.nav-link {
  color: #E5E5E5;
}
</style>