<template>
  <div class="container-fluid main_container">
    <AppLayout />
  </div>
</template>

<script>
import AppLayout from './layouts/AppLayout'

export default {
   name: 'App',
   components: {
     AppLayout
   }
}
</script>

<style scoped>
body {
  margin: 0 auto;
  height: 100vh;
}
.main_container {
  height: 100vh;
  background-image: url('./assets/image/home_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
