<template>
  <router-view v-slot="{ Component }">
    <transition name="route" mode="out-in">
      <component :is="Component"></component>
    </transition>
  </router-view>
</template>

<script>
export default {
  name: 'AppLayout'
}
</script>

<style scoped>
.route-enter-from {
  opacity: 0;
  transform: scaleX(100px)
}

.route-enter-active {
  transition: all 0.3s ease-out;
}

.route-leave-to {
  opacity: 0;
  transform: scaleX(-100px)
}

.route-leave-active {
  transition: all 0.3s ease-in;
}
</style>